.showAnime .titleLine {
    transform: translate(0%, 0);

}

section {
    overflow: hidden;

}

.gridSec {
    grid-column: span 7;
    grid-row: auto;
}

.showAnime .inp,
.showAnime .para1 {
    animation-name: opacAnime;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes opacAnime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.showAnime .right-line,
.showAnime .firstLine,
.showAnime .secondLine {
    animation-name: transformAnm;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes transformAnm {
    to {
        transform: translate(0, 0%);
    }

    from {
        transform: translate(0, -100%);
    }
}

.showAnime .bottom-line,
.showAnime .bottom-lineOp,
.showAnime .top-line {
    animation-name: scaleAnm;
    animation-duration: 1s;
    animation-timing-function: linear;
    /* animation-delay: 0.5s; */
}

@keyframes scaleAnm {
    to {
        scale: 1;
    }

    from {
        scale: 0;
    }
}

.showAnime .titledVideoPlayer img {
    transform: translate(0, 0);
}