@font-face {
    font-family: 'NHaasGroteskTXPro';
    src: url(../fonts/font.woff2) format('woff2'), url(../fonts/font.woff) format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    color: #32411a;
    font-family: NHaasGroteskTXPro;
    font-weight: 400;
}

:root {
    --first-color: #32411a;
    --second-color: white;
    --light-color: #32411a7d;
}

html,
body {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 5px;
}


.right-line,
.firstLine,
.secondLine {
    transition: 2s all ease-in-out;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.curtain {
    position: absolute;
    width: 120%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    transition: transform 1.5s ease-in-out;
    transform: translateY(0);
}

.curtain.reveal {
    transform: translateY(100%);
}

.lazyload {
    display: block;
    width: 100%;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.lazyload.loaded {
    opacity: 1;
}


.content1 {
    padding-top: 280px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px;
    padding-bottom: 50px;
    position: relative;
}

.arc {
    grid-column: 1/span 7;
    margin-bottom: 25px;
    padding: 0 25px;
    box-sizing: border-box;
}

.arc h1 {
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 0.9;
}

.text-container {
    font-size: 7vw;
    display: inline-block;
    line-height: 0.9;
    white-space: nowrap;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-sizing: border-box;
    overflow: hidden;
}

.letter {
    display: inline-block;
    transform: translateY(100%);
    transition: transform 0.9s ease, opacity 0.9s ease;
}

.letter.animate {
    transform: translateY(0%);
}



.para1 {
    grid-column: span 7;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row: 2;
}

.smg {
    grid-column: 2/ span 2;

}

.l1 {
    grid-column: 5/span 1;
    font-size: 10px;
}

.l2 {
    grid-column: 6/ span 1;
    font-size: 10px;
}

.l3 {
    grid-column: 7/ span 1;
}

.inp {
    grid-column: 2/ span 1;
    border-radius: 30px;
    background: transparent;
    color: var(--first-color);
    margin: 0 10px;
}

.inp a {
    text-decoration: none;
    font-size: 10px;
}

.lines {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
}

.verticalLine {
    border-right: 1px solid black;
    opacity: 0;
    justify-self: end;
    grid-row: span 2;
    animation-name: bordAnimeTitle;
    animation-timing-function: linear;
    animation-duration: 2s;
}




.verticalLine:nth-child(4) {
    animation-delay: 0s;
}

.verticalLine:nth-child(3) {
    animation-delay: 0.3s;
}

.verticalLine:nth-child(5) {
    animation-delay: 0.3s;
}

.verticalLine:nth-child(2) {
    animation-delay: 0.5s;
}

.verticalLine:nth-child(6) {
    animation-delay: 0.5s;
}

.verticalLine:nth-child(1) {
    animation-delay: 0.6s;
}


@keyframes bordAnimeTitle {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }

    50% {
        opacity: 0.15;
        transform: scaleY(1);
    }

    100% {
        opacity: 0;
        /* transform: scaleY(0); */
    }
}

.content2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px;
    margin-bottom: 50px;
    padding: 0 25px;
}

.image1 {
    width: 100%;
    display: block;
    overflow: hidden;
    margin-bottom: 50px;
}

.image1 img {
    width: 100%;
    object-fit: cover;
}

.c2l1 {
    font-size: 4vw;
    grid-column: 1/span 2;

}

.c2l2 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    grid-column: 5/span 2;
}

.c2l4 {
    margin-top: 20px;
    width: 150px;
    height: 25px;
    border: solid 1px var(--first-color);
    border-radius: 30px;
    background: transparent;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    transition: 0.5s;
}

.c2l3 {
    font-size: 12px;
    color: #32411a;
    text-decoration: none;
}

grey {
    color: grey;
}

.c2l3:hover {
    background-color: #32411a;
    color: white;
}

.content3 {
    display: grid;
    grid-template: auto/repeat(7, 1fr);
}

.c3l1 {

    grid-row: auto;
    width: 100vw;
    grid-column: 1/span 7;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px;
    margin-bottom: 50px;
    margin: 0;
}

.c3info {
    grid-column: 1/span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 25px;
    position: relative;
}

.right-line {
    position: absolute;
    width: 0.8px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #32411a;
}

.c3b {
    display: flex;
    flex-direction: column;
}

.c3h1 {
    font-size: 10px;
    color: grey;
}

.c3h2.nav-item {
    width: 100%;
}

.c3h2.nav-item a {
    padding-bottom: 10px;
    font-size: 25px;
    width: 100%;
    text-decoration: none;
}

.c3imgs {

    grid-column: 3/span 5;
    padding: 25px;
}


.c3imgs .image-container {
    /* width: 1000px; */
    height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 25px;
    /* margin-left: 15px; */
}

.c3imgs .image-wrapper {
    width: 100%;
    height: 100%;
}

.c3imgs img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.c3bp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.c3h3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.c3h3 h5 {
    font-size: 10px;
    opacity: 0.8;
    text-transform: uppercase;
}

.c3h3 p {
    font-size: 12px;
}

.c3h5 {
    display: flex;
    font-size: 10px;
    gap: 80px;
    color: grey;
}

.c3p4 {
    display: flex;
}

.btn {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    margin-left: 20px;
}

.contact-and-graph-sec {
    padding: 25px 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.contact-section {
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px;
    margin-top: 80px;
}

.contact-section .contact-title {
    font-size: 4vw;
    grid-column: 1/span 4;
    max-width: 540px;
}

.contact-section .copy {
    grid-column: 5/span 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-button {
    width: fit-content;
    font-size: 10px;
    border: 1px solid var(--first-color);
    padding: 2px 8px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    transition: 0.4s all ease-in-out 0s;
}

.button-a {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    text-decoration: none;
    z-index: 99;
    color: var(--first-color);
}


.button-a span {
    opacity: 0.4;
    text-transform: uppercase;

}

.iconContainer {
    width: 20px;
}

.iconContainer img {
    width: 100%;
}

.contact-button::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0%;
    left: 0;
    top: 0%;
    background-color: #32411a;
    transition: 0.4s all ease-in-out 0s;
    z-index: 1;
}

.contact-button:hover::after {
    top: unset;
    bottom: 0;
    height: 100%;
}

.contact-button:hover .button-a {
    color: white;
}

.contact-button:hover .button-a span {
    color: white;
}

.graph-img {
    width: 100%;
    display: block;
}

.graph-img img {
    width: 100%;
    object-fit: cover;
}

.content5 {
    width: 100%;
    height: 200px;
    margin: 50px 0 0 20px;
    display: flex;
    gap: 400px;
}

.c5l1 {
    font-size: 50px;
}

.c5l2 {
    margin-top: 10px;
    line-height: 22px;
}

.c5p2 {
    color: var(--first-color);
    text-decoration: none;
    font-size: 10px;

}

.c5p3 {
    border: 1px solid var(--first-color);
    border-radius: 30px;
    margin-top: 15px;
    width: 150px;
    height: 30px;
    padding: 5px 0 0 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.c5p3:hover {
    background-color: #32411a;
}

.c5p2:hover {
    background-color: var(--first-color);
    color: white;
}

.layout-container {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    gap: 25px;
    padding: 0 25px;
    margin-bottom: 50px;
}

.layout-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.layout-content img {
    width: 100%;
    height: 470px;
}

.layout-content .category-content-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 10px;
}

.category-content-container h5 {
    opacity: 0.8;
}

.content7 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
    margin-top: 70px;
}

.c7l1 {
    margin-top: 10px;
}

.c7l2 {
    display: flex;
}

.c7l3 {
    display: flex;
    font-size: 11px;
    color: black;
    margin-left: 20px;
    margin-top: 5px;
}

.c7p11 {
    margin-left: 65px;
}

.c7p12 {
    margin-left: 65px;
}

.c7p13 {
    margin-left: 235px;
}

.c7p14 {
    margin-left: 45px;
}

.c7p15 {
    margin-left: 45px;
}

.c7p16 {
    margin-left: 65px;
}

.c7p17 {
    margin-left: 50px;
}

.c7p18 {
    margin-left: 55px;
}

.content8 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px;
    padding: 0 25px;
    padding-top: 50px;
    margin-bottom: 100px;
}

.c8l1 {
    grid-column: 1/span 2;
    font-size: 4vw;
}

.c8l2 {
    grid-column: 5/span 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.content9 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.c9u1 {
    grid-column: span 7;
    padding: 0 25px;
    padding-top: 25px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px;
}

.c9l1 {
    grid-column: 1/span 2;
}

.c9l1 img {
    width: 100%;
}

.c9l2 {
    grid-column: 3/span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c9l2 h6 {
    font-size: 20px;
}

.c9u2 {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    opacity: 0.7;
}

.c9u2 p {
    font-size: 10px;

}

.c9l3 {
    grid-column: 5/span 2;
    font-size: 15px;
}


.bottom-lineOp {
    grid-column: span 7;
    border-bottom: 1px solid var(--first-color);
    transition: 2s all ease-in-out;
}

.button {
    width: fit-content;
    background-color: transparent;
    padding: 8px 18px;
    border: 1px solid var(--first-color);
    border-radius: 50px;
    transition: 0.4s all ease-in-out 0.s;
    overflow: hidden;
    position: relative;
    font-size: 10px;
}

.button a {
    text-decoration: none;
    z-index: 9;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button a span {
    opacity: 0.7;
}

.button::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--first-color);
    transition: 0.3s;
    transition: 0.4s all ease-in-out 0.s;
}

.button:hover::after {
    bottom: 0;
    top: unset;
    height: 100%;
}

.button:hover a {
    color: white;
}

.button:hover a span {
    color: white;
}

.content13 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--first-color);
    z-index: 99;
}

.c13l1 {
    padding: 5px 20px;
    border-right: 1px solid var(--first-color);
}

.c13l1 grey {
    font-size: 10px;
}

.c13j1 {
    color: grey;
    font-size: 10px;
}

.c13l2 {
    display: flex;
}

.c13l2j1 {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px 0 0 0;
    box-sizing: border-box;
    font-size: 12px;
    background-color: var(--first-color);
    width: 150px;
    height: 100%;
    margin-left: 710px;
    transition: 0.5s;
    border-right: 1px solid var(--first-color);
    border-left: 1px solid var(--first-color);
}

.c13l2j1:hover {
    background-color: white;
    color: var(--first-color);
}

.c13l2j2 {
    color: var(--first-color);
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
    box-sizing: border-box;
    font-size: 12px;
    background-color: white;
    height: 100%;
    transition: 0.5s;
    border-left: 1px solid white;
}

.c13l2j2:hover {
    background-color: #32411a;
    color: white;
}

.bottom-line {
    border-top: 1px solid var(--first-color);
}

@media screen and (max-width:1024px) {

    .content1 {
        display: grid;
        grid-template: auto/repeat(4, 1fr);
        margin: 0 15px;
        position: relative;
    }

    .arc {
        grid-column: span 4;
        padding: 0px;

    }

    .text-container {
       
        font-size: 40px;
    }

    .text-container .letter {
        font-size: 42px;
    }

    .l1 {
        display: none;
    }

    .l2 {
        display: none;
    }

    .l3 {
        display: none;
    }

    .para1 {
        grid-row: 2;
        grid-column: 1/span 2;
        position: relative;
        display: block;
    }

    .smg {
        font-size: 15px;
        margin-bottom: 5px;
        width: 100%;
    }

    .inp {
        grid-row: 3;
        grid-column: 1;
        position: relative;
        margin-bottom: 25px;
    }

    .lines {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 15px;
    }

    .verticalLine {
        border-right: 1px solid black;
        opacity: 0;
        justify-self: end;
        grid-row: span 4;
        animation-name: bordAnimeTitle;
        animation-timing-function: linear;
        animation-duration: 2s;
    }

    .verticalLine:nth-child(6) {
        display: none;
    }

    .verticalLine:nth-child(2) {
        display: none;
    }

    .content2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        padding: 0 15px;
    }

    .c2l1 {
        font-size: 35px;
        grid-column: 1/span 4;
        margin-bottom: 80px;
    }

    .c2l2 {
        display: flex;
        flex-direction: column;
        grid-column: 1/span 4;
    }

    .content3 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .c3l1 {
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .c3info {
        width: 100%;
        border-right: none;
        padding: 5px 15px;
    }


    .c3b {
        display: flex;
        gap: 0;
        padding-bottom: 0;
    }

    .c3b .c3h1 {
        font-size: 10px;
    }

    .c3b .nav-item {
        padding: 0;
    }

    .c3b .nav-item a {
        font-size: 12px;
        width: fit-content;
        padding: 0;
    }

    .hideImg {
        display: none;
    }

    .c3imgs {
        width: 100vw;
        padding: 0 15px;
        padding-bottom: 15px;
    }

    .c3imgs div {
        width: 100%;
    }


    .c3imgs div img {
        width: 100%;
    }

    .hide-c3b {
        display: none;
    }

    .c2l2 p {
        font-size: 15px;
        display: block;
    }

    .contact-section {
        margin-left: 15px;
        margin-right: 15px;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }


    .contact-section {
        margin-bottom: 50px;
    }

    .contact-section .contact-title {
        grid-column: 1/span 4;
        margin-bottom: 5px;
    }

    .contact-section .copy {
        grid-column: 1/span 4;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }


    .content5 {
        margin-left: 15px;
        margin-right: 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .c5l1 {
        grid-column: span 4;
        font-size: 35px;
    }

    .c5l2 {
        grid-column: span 4;
        margin-bottom: 50px;
    }

    .c5l2 p {
        font-size: 12px;
    }

    .layout-container {
        margin-left: 15px;
        margin-right: 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        padding: 0;
        margin-top: 50px;

    }

    .layout-content {
        grid-column: span 4;
    }

    .imgcontent {
        width: 100%;
        height: 100%;
    }

    .imgcontent img {
        width: 100%;
        height: 100%;
    }

    .content8 {
        margin-left: 15px;
        margin-right: 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        padding: 0;
        margin-top: 50px;
    }

    .c8l1 {
        grid-column: span 4;
        font-size: 35px;
    }

    .c8l2 {
        grid-column: span 4;
    }

    .content9 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        margin-top: 50px;
    }

    .c9u1 {
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .c9l2 h6 {
        font-size: 18px;
    }

    .c9l2 {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .c9l3 {
        font-size: 12px;
        opacity: 0.8;
    }

    .content13 {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .c13l1 {
        display: none;
    }



}
