* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #sidebar {} */
.sidebar__close {
  font-size: 20px;
  position: absolute;
  z-index: 999;
  text-align: end;
  top: 5%;
  right: 10%;
  padding: 0 8px;
  /* transition: 0.8s all ease-in-out; */
  cursor: pointer;
}

li {
  overflow: hidden;
  cursor: pointer;
}

.sidebar__close:hover {
  background-color: var(--light-color);
  border-radius: 50%;
}

.sidebar {
  width: 100vw;
  top: 0%;
  left: 0;
  height: 100vh;
  z-index: 1001;
  position: fixed;
  background-color:rgb(0,0,0,0.6);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  transition: 0.6s all ease-in-out;
}


.second__sidebar a {
  text-decoration: none;
}

.first__sidebar {
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  padding-top: 50px;
  z-index: 4;
  border-right: 1px solid var(--first-color);
  grid-column: 1;
  animation-name: sideCome;
  animation-timing-function: linear;
  animation-duration: 0.8s;
}

.first__sidebar ul {
  display: flex;
  flex-direction: column;
  /* gap: 25px; */
  align-items: center;
}

.first__sidebarLi {
  position: relative;
  color: var(--light-color);
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  min-height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.first__sidebarLi::after {
  content: '';
  position: absolute;
  bottom: 0%;
  width: 0;
  left: 0;
  height: 0.6px;
  opacity: 0.6;
  background-color: var(--first-color);
  transition: 0.3s;
}

.first__sidebarLi:hover::after {
  width: 100%;
}

.first__sidebarLi:hover {
  color: var(--first-color);
}

.second__sidebar {
  position: relative;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  z-index: 3;
  border-right: 1px solid var(--first-color);
  grid-column: 2 / span 2;
  margin-left: -25px;
  padding-top: 60px;
  animation-name: sideCome;
  animation-timing-function: linear;
  animation-duration: 0.8s;
}

.second__sidebar ul {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.second__sidebarLi {
  width: 100%;
  color: var(--first-color);
  font-size: 15px;
  font-weight: 400;
  min-height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.second__sidebarLi::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 0.6px solid var(--first-color);
}


.animated-list li.show::after {
  animation: bordAnime 0.5s linear;
}

.animated-list li {
  opacity: 0;
  transition: opacity 1s ease;
}

.animated-list li.show {
  opacity: 1;
}

@keyframes bordAnime {
  to {
    width: 100%;
  }

  from {
    width: 0;
  }
}


.third__sidebar {
  position: relative;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  z-index: 2;
  padding-top: 60px;
  border-right: 1px solid var(--first-color);
  grid-column: 4 / span 2;
  margin-left: -25px;
  transform: translateX(-100%);
  transition: transform 0.8s ease-in;
  /* Ensure the transition is set correctly */
}

.third__sidebar ul {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}



.third__sidebarLi {
  padding: 10px 0;
  width: 100%;
  color: var(--first-color);
  font-weight: 400;
  min-height: 48px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items:flex-start;
  cursor: pointer;
  position: relative;
}

.third__sidebarLi::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 0.6px solid var(--first-color);
}

.third__sidebarLi h5{
  font-size: 15px;
  color: var(--first-color);
}

.third__sidebarLi h6{
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.6;
  color: var(--first-color);
}

.third__sidebarLi p{
  font-size: 12px;
  color: var(--first-color);
}

.third__sidebar.transform {
  transform: translateX(0);
}

.li-info{
  display: flex;
  gap: 80px;
  align-items: center;
}

.fourth__sidebar {
  position: relative;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-right: 1px solid var(--first-color);
  grid-column: 6 / span 2;
  margin-left: -25px;
  transform: translateX(-100%);
  transition: transform 0.8s ease-in;
}

.fourth__sidebar .sidebar__close {
  background-color: aliceblue;
  border-radius: 50px;
  padding: 0 10px;
}

.fourth__sidebar ul {
  display: flex;
  flex-direction: column;
  /* margin-top: 25px; */
}

.fourth__sidebarLi {
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: var(--first-color);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.fourth__sidebarLi h6 {
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.6;
}

.product__img {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.1s;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
}

.product__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}


.product__info {
  opacity: 0;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.3s;
}

.product__info .product-detail {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.pro__app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lo__pro__app {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product__info p {
  font-size: 12px;
}

.fourth__sidebar.transform {
  transform: translateX(0);
}


.side__button {
  width: fit-content;
  background-color: transparent;
  padding: 8px 18px;
  border: 1px solid var(--first-color);
  border-radius: 50px;
  transition: 0.4s all ease-in-out 0.s;
  overflow: hidden;
  position: relative;
  font-size: 10px;
}

.side__button a {
  text-decoration: none;
  z-index: 9;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.side__button a span {
  opacity: 0.7;
}

.side__button::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: var(--first-color);
  transition: 0.3s;
  transition: 0.4s all ease-in-out 0.s;
}

.side__button:hover::after {
  bottom: 0;
  top: unset;
  height: 100%;
}

.side__button:hover a {
  color: white;
}

.side__button:hover a span {
  color: white;
}

.side__curtain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--second-color);
  transform: translate(0, 0);
  transition: transform 0.8s ease-in;
  transition-delay: 0.1s;
}

.fourth__sidebar.transform .side__curtain {
  transform: translate(0, 100%);
}


@keyframes sideCome {
  100% {
    transform: translate(0%, 0);
  }

  0% {
    transform: translate(-100%, 0);
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    top: 6.9%;
  }

  @keyframes rightAnime {
    to {
      transform: translate(0, 0);
    }

    from {
      transform: translate(100%, 0);
    }
  }

  .first__sidebar {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    /* padding-top: 50px; */
    animation-name: rightAnime;
    animation-timing-function: linear;
    animation-duration: 1s;
    z-index: 1;
  }

  .first__sidebar ul {
    margin-top: 100px;
    width: 100%;
    padding: 0;
    margin-left: 0;
  }

  .first__sidebarLi {
    border-bottom: 1px solid var(--first-color);
    padding: 20px 25px;
  }


  /* .second__sidebar{
        grid-column: 1/span 4;
        grid-row: 1/span 2;
        display: flex;
        flex-direction: column;
        padding: 0;
        animation-name: rightAnime;
        animation-timing-function: linear;
        animation-duration: 1s;
        z-index: 2;
    }

    .second__sidebar ul{
        margin-top: 100px;
        width: 100%;
        padding: 0;
        margin-left: 0;
    }

    .second__sidebarLi{
        border-bottom: 1px solid var(--first-color);
        padding:20px 25px;
    } */
}

.selected__li {
  color: var(--first-color);
  border-bottom: 0.6px solid var(--first-color);
  opacity: 1;
}

.second__sidebarLi.selected__li,
.third__sidebarLi.selected__li {
  border-top: 0.6px solid var(--first-color);
  border-bottom: 0.6px solid var(--first-color);
}

.second__sidebarLi.unSelected__li,
.first__sidebarLi.unSelected__li {
  color: var(--light-color);
  opacity: 0.6;
}

.unSelected__li::after {
  border-top: 0.6px solid var(--light-color);

}



.unSelected__li h5{
  color: var(--light-color);
}

.unSelected__li h6{
  color: var(--light-color);

}

.unSelected__li p{
  color: var(--light-color);
}
