* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #sidebar {} */
.sidebar__close {
  font-size: 20px;
  position: absolute;
  z-index: 999;
  top: 5%;
  right: 10%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.mobileSideMenu {
  visibility: hidden;
  display: none;
}

.first__sidebar__mobile,.second__sidebar__mobile{
  display: none;
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
  opacity: 0.6;
  visibility: hidden;
  background-color: #000;
  transition: visibility 0.5s ease-in-out;
}

li {
  overflow: hidden;
  cursor: pointer;
}

.sidebar__close:hover {
  background-color: var(--light-color);
  border-radius: 50%;
}

.sidebar {
  width: 100vw;
  top: 0%;
  left: 0;
  height: 100vh;
  z-index: 1001;
  position: fixed;
  display: grid;
  visibility: hidden;
  grid-template-columns: repeat(7, 1fr);
  transition: all 0.5s ease-in-out;
}


.second__sidebar a {
  text-decoration: none;
}

.first__sidebar {
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  padding-top: 50px;
  z-index: 4;
  border-right: 1px solid var(--first-color);
  grid-column: 1;
  animation-name: sideCome;
  animation-timing-function: linear;
  animation-duration: 0.8s;
}

.first__sidebar ul {
  display: flex;
  flex-direction: column;
  /* gap: 25px; */
  align-items: center;
}

.first__sidebarLi {
  position: relative;
  color: var(--light-color);
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  min-height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.first__sidebar ul  a {
  text-decoration: none;
  width: 100%;
  text-transform: none;
}

.first__sidebarLi::after {
  content: '';
  position: absolute;
  bottom: 0%;
  width: 0;
  left: 0;
  height: 0.6px;
  opacity: 0.6;
  background-color: var(--first-color);
  transition: 0.3s;
}

.first__sidebarLi:hover::after {
  width: 100%;
}

.first__sidebarLi:hover {
  color: var(--first-color);
}

.second__sidebar {
  position: relative;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  z-index: 3;
  border-right: 1px solid var(--first-color);
  grid-column: 2 / span 2;
  margin-left: -25px;
  padding-top: 60px;
  animation-name: sideCome;
  animation-timing-function: linear;
  animation-duration: 0.8s;
}

.second__sidebar ul {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.second__sidebarLi {
  width: 100%;
  color: var(--first-color);
  font-size: 15px;
  font-weight: 400;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.second__sidebarLi::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-bottom: 0.1px solid var(--first-color);
}

.li__obj__length {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border: 1px solid var(--first-color);
  border-radius: 50%;
  background-color: transparent;
}

.animated-list li.show::after {
  animation: bordAnime 0.5s linear;
}

.animated-list li {
  opacity: 0;
  transition: opacity 1s ease;
}

.animated-list li.show {
  opacity: 1;
}

@keyframes bordAnime {
  to {
    width: 100%;
  }

  from {
    width: 0;
  }
}


.third__sidebar {
  position: relative;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  z-index: 2;
  padding-top: 60px;
  border-right: 1px solid var(--first-color);
  grid-column: 4 / span 2;
  margin-left: -25px;
  transform: translateX(-100%);
  transition: transform 0.8s ease-in;
  overflow-y: scroll;
  /* Ensure the transition is set correctly */
}

.third__sidebar::-webkit-scrollbar {
  width: 5px;
}

.third__sidebar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--first-color);
}

.third__sidebar::-webkit-scrollbar-track {
  background: transparent;
}

.third__sidebar ul {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}



.third__sidebarLi {
  padding: 10px 0;
  width: 100%;
  color: var(--first-color);
  font-weight: 400;
  min-height: 48px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 15px;
  position: relative;
}

.third__sidebarLi::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 0.3px solid var(--first-color);
}

.third__sidebarLi h5 {
  font-size: 15px;
  color: var(--first-color);
}

.third__sidebarLi h6 {
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.6;
  color: var(--first-color);
}

.third__sidebarLi p {
  font-size: 12px;
  color: var(--first-color);
}

.third__sidebar.transform {
  transform: translateX(0);
}

.thirdLi__data {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  cursor: pointer;
}

.paginationButton {
  position: relative;
  width: 35px;
  height: 20px;
  background-color: transparent;
  border: 1px solid var(--first-color);
  border-radius: 10px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.iconContainer {
  display: inline-block;

}

.icon {
  width: 15px;
  height: 8px;
  stroke-width: 1;
  stroke: currentColor;
}

.paginationButton:hover .iconContainer {
  animation: moveIcon 1s infinite;
  animation-iteration-count: 1;
}

@keyframes moveIcon {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(200%);
  }

  51% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}



.li-info {
  display: flex;
  gap: 50px;
  align-items: center;
}

.fourth__sidebar {
  position: relative;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-right: 1px solid var(--first-color);
  grid-column: 6 / span 2;
  margin-left: -25px;
  transform: translateX(-100%);
  transition: transform 0.8s ease-in;
}

.fourth__sidebar .sidebar__close {
  background-color: aliceblue;
  border-radius: 50%;
}

.fourth__sidebar ul {
  display: flex;
  flex-direction: column;
  /* margin-top: 25px; */
}

.fourth__sidebarLi {
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: var(--first-color);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.fourth__sidebarLi h6 {
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.6;
}

.product__img {
  width: 100%;
  max-width: 430px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.1s;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
}

.product__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}


.product__info {
  opacity: 0;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.3s;
}

.product__info .product-detail {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.pro__app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lo__pro__app {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product__info p {
  font-size: 12px;
}

.fourth__sidebar.transform {
  transform: translateX(0);
}


.side__button {
  width: fit-content;
  background-color: transparent;
  padding: 8px 18px;
  border: 1px solid var(--first-color);
  border-radius: 50px;
  transition: 0.4s all ease-in-out 0.s;
  overflow: hidden;
  position: relative;
  font-size: 10px;
}

.side__button a {
  text-decoration: none;
  z-index: 9;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.side__button a span {
  opacity: 0.7;
}

.side__button::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: var(--first-color);
  transition: 0.3s;
  transition: 0.4s all ease-in-out 0.s;
}

.side__button:hover::after {
  bottom: 0;
  top: unset;
  height: 100%;
}

.side__button:hover a {
  color: white;
}

.side__button:hover a span {
  color: white;
}

.side__curtain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--second-color);
  transform: translate(0, 0);
  transition: transform 0.8s ease-in;
  transition-delay: 0.1s;
}

.fourth__sidebar.transform .side__curtain {
  transform: translate(0, 100%);
}


@keyframes sideCome {
  100% {
    transform: translate(0%, 0);
  }

  0% {
    transform: translate(-100%, 0);
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }

  .first__sidebar {
    display: none;
  }

  .overlay {
    display: none;
  }

  .title__logo {
    display: none;
  }


  @keyframes rightAnime {
    to {
      transform: translate(0, 0);
    }

    from {
      transform: translate(100%, 0);
    }
  }

  .menuLogo {
    font-size: 20px;
    margin-left: 15px;
  }

  .mobileSideMenu {
    width: 100vw;
    top: 0%;
    left: 0;
    height: 100vh;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    transition: all 0.6s ease-in-out;
  }

  #firstMobileMenu {
    z-index: 1001;
  }

  .first__sidebar__mobile {
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
    padding-top: 15%;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    gap: 25px;
    animation-name: rightAnime;
    animation-timing-function: linear;
    animation-duration: 0.8s;
    transition: all 0.6s ease-in-out;
    /* transform: translateX(100%); */
  }

  .first__sidebar__mobile ul {
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
  .first__sidebar__mobile ul a{
    color: var(--first-color);
  }

  .first__sidebarLi {
    width: 100%;
    color: var(--first-color);
    text-align: center;
    border-bottom: 1px solid var(--first-color);
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }

  .first__sidebarLi::after {
    content: '';
    width: 0;
    height: 0;

  }

  .second__sidebar {
    display: none;
  }

  a {
    text-decoration: none;
  }

  #secondMobileMenu {
    z-index: 1003;
  }

  .second__sidebar__mobile {
    background-color: var(--second-color);
    grid-column: 1/span 4;
    grid-row: 1/span 4;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px 20px;
    animation-name: rightAnime;
    animation-timing-function: linear;
    animation-duration: 1s;
    transition: all 0.7s ease-in-out;
    /* transform: translateX(100%); */
  }

  .menuHeader{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .close__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .backIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  .back__btn{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .mobileMenuClose {
    font-size: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .animated-list li.show::after {
    animation: bordAnime 0.5s linear;
  }

  .animated-list li {
    opacity: 0;
    transition: opacity 0.6s ease;
  }

  .animated-list li.show {
    opacity: 1;
  }

  /* 

    .second__sidebar ul{
        margin-top: 100px;
        width: 100%;
        padding: 0;
        margin-left: 0;
    }

    .second__sidebarLi{
        border-bottom: 1px solid var(--first-color);
        padding:20px 25px;
    } */

  .third__sidebar,
  .fourth__sidebar {
    display: none;
  }
}

.first__sidebarLi.selected__li {
  color: var(--first-color);
  border-bottom: 0.6px solid var(--first-color);
  opacity: 1;
}

.second__sidebarLi.selected__li,
.third__sidebarLi.selected__li {
  /* border-top: 0.3px solid var(--first-color); */
  /* border-bottom: 0.3px solid var(--first-color); */
  color: var(--first-color);
  opacity: 1;
}

.second__sidebarLi.selected__li::before,
.third__sidebarLi.selected__li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 1px; */
  border-top: 0.3px solid var(--first-color);
}

.selected__li .li__obj__length,
.selected__li .paginationButton {
  background-color: var(--first-color);
  color: white;
  transition: 0.2s all ease-in-out;
}

.selected__li .paginationButton .icon {
  stroke: white;
}


.unSelected__li {
  color: var(--light-color);
  opacity: 0.6;
}

.second__sidebarLi.unSelected__li::after,
.third__sidebarLi.unSelected__li::after {
  border-bottom: 0.1px solid var(--light-color);
}


.unSelected__li h5,
.unSelected__li h6,
.unSelected__li p,
.unSelected__li span {
  color: var(--light-color);
}


.unSelected__li .li__obj__length,
.unSelected__li .paginationButton {
  border: 0.1px solid var(--light-color);
}

.unSelected__li .paginationButton .icon {
  stroke: var(--light-color)
}



.second__sidebarLi.hide-border-bottom::after {
  border-bottom: none;
}

.third__sidebarLi.hide-border-bottom::after {
  border-bottom: none;
}