@font-face {
    font-family: 'NHaasGroteskTXPro';
    src: url(../fonts/font.woff2) format('woff2'), url(../fonts/font.woff) format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NHaasGroteskDSPro';
    src: url(/fonts/NHaasGroteskDSPro-55Rg.woff2) format('woff2'), url(/fonts/NHaasGroteskDSPro-55Rg.woff) format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ABCMonumentGroteskMono';
    src: url(/fonts/ABCMonumentGroteskMono-Regular.woff2) format('woff2'), url(/fonts/ABCMonumentGroteskMono-Regular.woff) format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}




* {
    font-family: 'NHaasGroteskTXPro', "Lucida-Sans", Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #CCA99F;
    line-height: 1.5;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
}

body,
html {
    min-height: 100%;
    min-width: 100%;
    background-color: #291A16;
}


header {
    height: auto;
    padding: 5px 5px;
    border-bottom: 1px solid #CCA99F;
}

.nav-bar {
    padding: 10px 25px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    color: white;
}

.nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-item {
    width: calc(100%/7);

}

.nav-item a {
    font-size: 10px;
    font-weight: 300;
    color: currentColor;
    border: none;
    cursor: pointer;
    display: inline-flex;
    overflow: hidden;
    position: relative;
    min-height: 42px;
    align-items: center;
    line-height: 1.2;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.3s;
}

.sample-block {
    display: flex;
    gap: 5px;
}

.sample-block span {
    padding: 0px 3px;
    border: 0.6px solid #A7B6C4;
    border-radius: 50%;
}

#mobileMenuButton {
    border: none;
    cursor: pointer;
    background: transparent;
    min-height: 1.3em;
    font-size: 12px;
    align-items: center;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
    display: none;
}


.nav-item a::after {
    content: '';
    position: absolute;
    bottom: 10%;
    width: 0;
    right: 0;
    height: 2px;
    opacity: 0.6;
    background-color: #CCA99F;
    transition: 0.5s;
}

.nav-item a:hover::after {
    width: 100%;
    left: 0;
    right: unset;
}


.section-1 {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(7, 1fr);
    /* padding-bottom: 25px; */
}

.section-1 .text {

    padding-left: 25px;
    padding-right: 25px;
    /* display: grid; */
    grid-row: 1;
    font-size: 4vw;
    max-width: 800px;
    margin-top: 230px;
    line-height: 1;
    grid-column: 1 / span 2;
}

.text-specs {
    display: grid;
    column-gap: 25px;
    align-items: end;
    grid-row: 1;
    opacity: 0.5;
    grid-column: 6/ span 2;
    grid-template-columns: repeat(3, 1fr);
}

.text-specs span {
    font-size: 11px;
    line-height: 1.2;
    white-space: pre-wrap;
}

.bottom-line {
    grid-row: 2;
    grid-column: span 7;
    border-top: 1px solid #CCA99F;
}


.toolbar {
    /* gap: 25px; */
    border: none;
    /* margin: 0 25px; */
    display: grid;
    grid-column: 1 / span 7;
    grid-template-columns: repeat(7, 1fr);
    height: 50px;
}

.item {
    position: relative;
    width: 100%;
    border: none;
    grid-column: span 1;
    height: 100%;
    width: 100%;
    font-size: 10px;

}

.item .button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0 25px;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.item:hover {
    border-left: 1px solid #CCA99F;
    border-right: 1px solid #CCA99F;

}

.dropdown {
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #CCA99F;
    padding: 15px;
    position: absolute;
    display: none;
    transform: translate(0, -100%);
    background-color: #291A16;
    margin: 0px 0 -25px;
    padding: 15px 25px;
    color: aliceblue;
    transition: transform 15s ease-in-out;
}

.dropdownItem {
    display: block;
    background-color: transparent;
    border: none;
    margin: 5px 0;
    cursor: pointer;
    text-align: left;
}

.dropdownItem:hover {
    text-decoration: underline;
}

.open {
    display: block;
    transform: translate(0, 0);
    border-left: 1px solid #CCA99F;
    border-right: 1px solid #CCA99F;
}

.imageSection {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#imageGallery {
    grid-column: span 7;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.imageBox {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 15px;
    border-bottom: 1px solid #CCA99F;
    border-right: 1px solid #CCA99F;
    grid-column: span 2;
}

.imageBox img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
}



@media screen and (min-width:1024px) {

    .imageBox:nth-child(6n+1) {
        grid-row: auto;
        grid-column: 1/ span 3;
    }

    .imageBox:nth-child(6n) {
        grid-row: auto;
        grid-column: 5/ span 3;
    }
}

.loadButton {
    grid-column: span 7;
    background-color: transparent;
    border: 1px solid #CCA99F;
    border-radius: 50px;
    /* margin-right: 25px;
    margin-left: 25px; */
    margin: 25px;
    padding: 25px;
    text-transform: uppercase;
    letter-spacing: 0.5;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.loadButton::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #CCA99F;
    /* transition: 0.3s; */
    transition: 0.3s all ease-in-out;
    z-index: -1;
}

.loadButton:hover::after {
    bottom: 0;
    top: unset;
    height: 100%;
}

.loadButton:hover {
    color: #291A16;
}


footer {
    position: relative;
    font-size: 12px;

}

.footer-section {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(7, 1fr);
    margin-left: 25px;
    margin-right: 25px;
}

.logoNewsletterContainer {
    grid-row: 1;
    grid-column: 1/span 2;
    padding-top: 25px;
    margin-right: 25px;
}

.logo {
    width: 68px;
    height: 68px;
    margin-bottom: 50px;
}

.title {
    display: block;
    opacity: 0.5;
    margin-bottom: 5px;
}

input {
    width: 100%;
    border: none;
    margin: -1px 0 0 0;
    outline: none;
    padding: 10px 30px 10px 0;
    font-size: 12px;
    border-top: 1px solid #A7B6C4;
    border-bottom: 1px solid #A7B6C4;
    background-color: transparent;
}

.inputContainer {
    position: relative;
}

.inputContainer button {
    position: absolute;
    background: transparent;
    border: none;
    top: 15%;
    width: 18px;
    height: 30px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.acknowledgeContainer {
    grid-row: 2;
    grid-column: 1/span 2;
    margin-top: 280px;
    align-self: end;
    padding-right: 50px;
    padding-bottom: 25px;
}

.socialLinksContainer {
    grid-row: 1;
    grid-column: 3/span 2;
    display: flex;
    float: left;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-top: 25px;
}

.socialLinksContainer span,
.productsContainer span a,
.projectsContainer span a,
.resourcesContainer span a,
.contactsContainer span {
    font-size: 10px;
    font-family: "NHaasGroteskTXPro", "Lucida Sans", Tahoma, sans-serif;
    line-height: 1.2;
    opacity: 0.5;
    white-space: pre-wrap;
    text-transform: uppercase;
    text-decoration: none;
}

.linkList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.linkList li a {
    list-style: none;
    text-transform: capitalize;
    font-size: 12.5px;
    line-height: 1.8;
    text-decoration: none;
}

.copyrightContainer {
    grid-row: 2;
    grid-column: 3/span 2;
    align-self: end;
    padding-bottom: 25px;
}



.partnerLogos {
    margin: 0 -5px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 20em;
}

.productsContainer {
    grid-row: 1;
    grid-column: 5/span 2;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectsContainer {
    grid-row: 1;
    grid-column: 7/span 1;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
}

.resourcesContainer {
    grid-row: 2;
    grid-column: 7/span 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: end;
    text-align: right;
    padding-bottom: 25px;
}

.contactsContainer {
    grid-row: 2;
    grid-column: 5/span 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: flex-end;
    text-align: left;
    padding-bottom: 25px;
}

.top-line {
    grid-column: 1/span 7;
    grid-row: 1;
    border-top: 1px solid #a7b6c4bd;
}

.bottom-line {
    grid-column: 1/span 7;
    grid-row: 2;
    border-top: 1px solid #a7b6c4bd;
}


.firstLine {
    grid-column: 2;
}

.secondLine {
    grid-column: 4;
}

.line {
    grid-row: 1/span 3;
    border-right: 1px solid #a7b6c4bd;
    position: relative;
    display: block;

}




@media screen and (max-width:1435px) {
    .section-1 .text {
        grid-column: 1/span 3;
        width: 100%;
        font-size: 3.5vw;
    }
}

@media screen and (max-width:1024px) {

    header {
        height: 73px;
        padding: 5px 0;
        transition: all ease 0.3s;
    }

    nav {
        height: 100%;
    }

    .nav-bar {
        padding: 10px 10px;
        height: 100%;
    }

    #mobileMenuButton {
        display: block;
        min-height: 42px;
        right: 0;
    }



    .mobileMenu {
        height: 1.2em;
        width: 100%;
        display: block;
        overflow: hidden;

    }

    #menu {
        display: block;
        top: 0;
        transition: all ease 0.4s;
    }

    #close {
        display: block;
        right: 0;
        transition: all ease 0.4s;
    }


    .nav-item-hidden {
        display: none;
    }


    .section-1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 15px;
    }

    .section-1 .text {
        grid-row: 2;
        grid-column: 1/span 4;
        font-size: 43px;
        padding: 0 15px;
    }

    .text-specs {
        grid-row: 1;
        grid-column: 1/span 4;
        display: flex;
        justify-content: space-between;
        margin-left: 25px;
        margin-right: 25px;

    }

    .bottom-line {
        grid-column: 1/span 4;
        grid-row: auto;
    }

    .toolbar {
        display: flex;
    }

    .spacer {
        display: none;
    }

    .item {
        padding: 0px;
    }

    .item .button {
        padding: 15px;
    }

    #imageGallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .imageBox {
        grid-column: span 4;
        border: none;
        border-bottom: 1px solid #CCA99F;
    }

    .imageBox img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .loadButton {
        padding: 15px;
    }


    
    .footer-section {
        display: grid;
        gap: 15px;
        row-gap: 15px;
        grid-template: auto/repeat(4, 1fr);
        margin-left: 15px;
        margin-right: 15px;
        padding-right: 0px;
        margin-bottom: 20px;
    }

    .logoNewsletterContainer {
        grid-row: 1;
        grid-column: span 4;
    }

    .projectsContainer {
        grid-row: 2;
        grid-column: 1/span 2;
        text-align: left;
    }

    .productsContainer {
        grid-row: 2;
        grid-column: 3/span 2;
        text-align: right;
        margin-bottom: 50px;
        margin-left: 0;
    }

    .contactsContainer {
        grid-row: 3;
        grid-column: 1/span 2;
        margin-left: 0;
    }


    .resourcesContainer {
        grid-row: 3;
        grid-column: 3/span 2;
    }

    .line {
        display: none;
    }

    .mobileFirstLine {
        grid-row: 4;
    }

    .mobileSecondLine {
        grid-row: 6;
    }

    .mobileLine {
        grid-column: span 4;
        margin: 0 -15px;
        border-top: 1px solid #a7b6c4ba;
        display: block;
        margin-bottom: 50px;

    }

    .socialLinksContainer {
        grid-row: 5;
        grid-column: 1/span 2;
        margin-left: 0;
    }

    .copyrightContainer {
        grid-row: 5;
        grid-column: 3/span 2;
        margin-left: 0;
    }


    .acknowledgeContainer {
margin-right: 0;

padding-right: 0px;
        grid-row: 7;
        grid-column: span 4;
        margin-top: 20px;
    }
}