@font-face {
    font-family: 'NHaasGroteskTXPro';
    src: url(../../fonts/font.woff2) format('woff2'), url(../../fonts/font.woff) format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NHaasGroteskDSPro';
    src: url(/fonts/NHaasGroteskDSPro-55Rg.woff2) format('woff2'), url(/fonts/NHaasGroteskDSPro-55Rg.woff) format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ABCMonumentGroteskMono';
    src: url(/fonts/ABCMonumentGroteskMono-Regular.woff2) format('woff2'), url(/fonts/ABCMonumentGroteskMono-Regular.woff) format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'NHaasGroteskTXPro', "Lucida-Sans", Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #CFCFB0;
    line-height: 1.5;
    font-weight: 400;
}

body,
html {
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    background-color: #3A3A1F;
}


header {
    height: auto;
    padding: 5px 5px;
    border-bottom: 1px solid #CFCFB0;
}

.nav-bar {
    padding: 10px 25px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    color: white;
}

.nav-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-item {
    width: calc(100%/7);

}

.nav-item a {
    font-size: 10px;
    font-weight: 400;
    color: currentColor;
    border: none;
    cursor: pointer;
    display: inline-flex;
    overflow: hidden;
    position: relative;
    min-height: 42px;
    align-items: center;
    line-height: 1.2;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.3s;
}

.sample-block {
    display: flex;
    gap: 5px;
}

.sample-block span {
    padding: 0px 3px;
    border: 0.6px solid #A7B6C4;
    border-radius: 50%;
}

#mobileMenuButton {
    border: none;
    cursor: pointer;
    background: transparent;
    min-height: 1.3em;
    font-size: 12px;
    align-items: center;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-decoration: none;
    display: none;
}


.nav-item a::after {
    content: '';
    position: absolute;
    bottom: 10%;
    width: 0;
    left: 0;
    height: 2px;
    opacity: 0.6;
    background-color: #CFCFB0;
    transition: 0.3s;
}

.nav-item a:hover::after {
    width: 100%;
}

.title-section {
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px;
    padding: 0;
}


.title-section .title {
    opacity: 2;
    line-height: 0.95;
    grid-row: 2;
    grid-column: 4/span 2;
    margin-top: 130px;
    font-size: 4.5vw;
    text-transform: uppercase;
    margin-left: 0;
    margin-bottom: 25px;
    color: #CFCFB0;
}

.titleLine {
    grid-column: 3;
    grid-row: 1/span 2;
    margin: 0px 0;
    border-right: 1px solid #CFCFB0;
    transition: 0.6s all ease-in-out 0.4s;
}


.image-container {
    width: 100%;
    display: block;
    margin-bottom: 100px;
    overflow: hidden;
    transition: 0.6s all ease;
}

.image-container img {
    width: 100%;
    object-fit: cover;
    transition: 0.6s all ease-in-out 0.4s;
}


.what-supply-section,
.video-section,
.contact-section {
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 25px;
}

.supply-section-title,
.contact-title {
    grid-row: 1;
    grid-column: 1/span 3;
    font-size: calc(35px + (65 - 35) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 150px;
    text-transform: uppercase;
    line-height: 0.95;
}

.what-supply-section .text {
    grid-column: 4/span 2;
    margin-bottom: 100px;
}

.section {
    margin-bottom: 100px;
}

.bottom-line{
    border-bottom: 1px solid #CFCFB0;
    transition: 0.6s all ease-in-out;
}


p {
    margin: 0 0 15px;
}

.featureGrid {
    grid-column: 4/span 4;
    grid-row: 1;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.keyFeature {
    grid-row: 1;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}

.keyFeatureTitle {
    font-size: 20px;
    margin-bottom: 25px;
}

.video-sec-title {
    grid-row: 1;
    grid-column: 1/span 1;
}

.titledVideoPlayer {
    grid-column: 3/ span 5;
    margin-bottom: 100px;
    transition: 0.6s all ease-in ;
}

 .titledVideoPlayer img {
    width: 100%;
    display: block;
    object-fit: cover;
    transition: 0.6s all ease-in ;
}



.contact-and-graph-sec {
    margin-bottom: 100px;
}

.contact-section .contact-title {
    grid-column: 1/span 4;
}

.contact-section .copy {
    grid-column: 5/span 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-button {
    width: fit-content;
    font-size: 10px;
    border: 1px solid #CFCFB0;
    padding: 2px 8px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    transition: 0.4s all ease-in-out 0s;
}

.button-a {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    text-decoration: none;
    z-index: 99;
    color: #CFCFB0;
}


.button-a span {
    opacity: 0.4;
    text-transform: uppercase;

}

.iconContainer {
    width: 20px;
}

.iconContainer img {
    width: 100%;
}

.contact-button::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0%;
    left: 0;
    top: 0%;
    background-color: #d9d9b8ce;
    transition: 0.4s all ease-in-out 0s;
    z-index: 1;
}

.contact-button:hover::after {
    top: unset;
    bottom: 0;
    height: 100%;
}

.contact-button:hover .button-a {
    color: rgba(0, 0, 0, 0.7);
}

.contact-button:hover .button-a span {
    color: rgba(0, 0, 0, 0.7);
}

.graph-img {
    width: 100%;
    display: block;
}

.graph-img img {
    width: 100%;
    object-fit: cover;
}

footer {
    position: relative;
    font-size: 12px;

}

.footer-section {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(7, 1fr);
    margin-left: 25px;
    margin-right: 25px;
}

.logoNewsletterContainer {
    grid-row: 1;
    grid-column: 1/span 2;
    padding-top: 25px;
    margin-right: 25px;
}

.logo {
    width: 68px;
    height: 68px;
    margin-bottom: 50px;
}

.title {
    display: block;
    opacity: 0.5;
    margin-bottom: 5px;
}

input {
    width: 100%;
    border: none;
    margin: -1px 0 0 0;
    outline: none;
    padding: 10px 30px 10px 0;
    font-size: 12px;
    border-top: 1px solid #CFCFB0;
    border-bottom: 1px solid #CFCFB0;
    background-color: transparent;
}

.inputContainer {
    position: relative;
}

.inputContainer button {
    position: absolute;
    background: transparent;
    border: none;
    top: 15%;
    width: 18px;
    height: 30px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.acknowledgeContainer {
    grid-row: 2;
    grid-column: 1/span 2;
    margin-top: 280px;
    align-self: end;
    padding-right: 50px;
    padding-bottom: 25px;
}

.socialLinksContainer {
    grid-row: 1;
    grid-column: 3/span 2;
    display: flex;
    float: left;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-top: 25px;
}

.socialLinksContainer span,
.productsContainer span a,
.projectsContainer span a,
.resourcesContainer span a,
.contactsContainer span {
    font-size: 10px;
    font-family: "NHaasGroteskTXPro", "Lucida Sans", Tahoma, sans-serif;
    line-height: 1.2;
    opacity: 0.5;
    white-space: pre-wrap;
    text-transform: uppercase;
    text-decoration: none;
}

.linkList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.linkList li a {
    list-style: none;
    text-transform: capitalize;
    font-size: 12.5px;
    line-height: 1.8;
    text-decoration: none;
}

.copyrightContainer {
    grid-row: 2;
    grid-column: 3/span 2;
    align-self: end;
    padding-bottom: 25px;
}



.partnerLogos {
    margin: 0 -5px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 20em;
}


.productsContainer {
    grid-row: 1;
    grid-column: 5/span 2;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectsContainer {
    grid-row: 1;
    grid-column: 7/span 1;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resourcesContainer {
    grid-row: 2;
    grid-column: 7/span 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: end;
    text-align: right;
    padding-bottom: 25px;
}

.contactsContainer {
    grid-row: 2;
    grid-column: 5/span 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: flex-end;
    text-align: left;
    padding-bottom: 25px;
}

.firstLine {
    grid-column: 2;
}

.secondLine {
    grid-column: 4;
}

.line {
    grid-row: 1/span 3;
    border-right: 1px solid #CFCFB0;
    position: relative;
    display: block;

}

.top-line{
    grid-row: 1;
    grid-column: 1/span 7;
    border-top: 1px solid #CFCFB0;
}





@media screen and (max-width:1439px) {
    .title-section .title {
        grid-column: 4/span 3;
        /* font-size: 4vw; */
    }
}


@media screen and (max-width:1024px) {
    header {
        height: 73px;
        padding: 5px 0;
        transition: all ease 0.3s;
    }

    nav {
        height: 100%;
    }

    .nav-bar {
        padding: 10px 10px;
        height: 100%;
    }

    #mobileMenuButton {
        display: block;
        min-height: 42px;
        right: 0;
    }



    .mobileMenu {
        height: 1.2em;
        width: 100%;
        display: block;
        overflow: hidden;

    }

    #menu {
        display: block;
        top: 0;
        transition: all ease 0.4s;
    }

    #close {
        display: block;
        right: 0;
        transition: all ease 0.4s;
    }


    .nav-item-hidden {
        display: none;
    }

    .title-section {
        grid-template-columns: repeat(4, 1fr);
    }

    .title-section .title {
        margin-top: 180px;
        font-size: 45px;
        grid-column: 1/ span 4;
        margin-left: 40px;
    }

    .titleLine {
        grid-column: 1;
        margin-left: 30px;
        border-right: none;
        border-left: 1px solid #CFCFB0;
    }

    .what-supply-section,
    .video-section,
    .contact-section {
        margin-left: 15px;
        margin-right: 15px;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .supply-section-title {
        grid-row: auto;
        grid-column: 1/span 4;
        font-size: calc(35px + (65 - 35) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: 50px;
        text-transform: uppercase;
        line-height: 0.95;
    }

    .what-supply-section .text {
        grid-column: 1/span 4;
    }

    .bottom-border {
        margin-bottom: 50px;
    }

    .featureGrid {
        grid-row: auto;
        grid-column: 1/span 4;
    }

    .keyFeature {
        grid-column: span 4;
        grid-row: span 1;
    }


    .video-sec-title {
        grid-row: 1;
        grid-column: 1/span 4;
    }

    .titledVideoPlayer {
        grid-column: 1/ span 4;
        margin-bottom: 100px;
    }

    .titledVideoPlayer img {
        width: 100%;
        display: block;
        object-fit: cover;
    }

    .contact-and-graph-sec {
        margin-bottom: 50px;
    }

    .contact-section {
        margin-bottom: 50px;
    }

    .contact-section .contact-title {
        grid-column: 1/span 4;
        margin-bottom: 50px;
    }

    .contact-section .copy {
        grid-column: 1/span 4;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }



    .footer-section {
        display: grid;
        gap: 15px;
        row-gap: 15px;
        grid-template: auto/repeat(4, 1fr);
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
    }

    .logoNewsletterContainer {
        grid-row: 1;
        grid-column: span 4;
    }

    .projectsContainer {
        grid-row: 2;
        grid-column: 1/span 2;
    }

    .productsContainer {
        grid-row: 2;
        grid-column: 3/span 2;
        text-align: right;
        margin-bottom: 50px;
        margin-left: 0;
    }

    .contactsContainer {
        grid-row: 3;
        grid-column: 1/span 2;
        margin-left: 0;
    }


    .resourcesContainer {
        grid-row: 3;
        grid-column: 3/span 2;
    }

    .line {
        display: none;
    }

    .mobileFirstLine {
        grid-row: 4;
    }

    .mobileSecondLine {
        grid-row: 6;
    }

    .mobileLine {
        grid-column: span 4;
        margin: 0 -15px;
        border-top: 1px solid #CFCFB0;
        display: block;
        margin-bottom: 50px;

    }

    .socialLinksContainer {
        grid-row: 5;
        grid-column: 1/span 2;
        margin-left: 0;
    }

    .copyrightContainer {
        grid-row: 5;
        grid-column: 3/span 2;
        margin-left: 0;
    }


    .acknowledgeContainer {

        grid-row: 7;
        grid-column: span 4;
        margin-top: 20px;
    }
}