* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-weight: 400;
    color: var(--first-color);
}

body {
    background-color: var(--second-color);
    margin: 0;
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;
}

:root {
    --first-color: #CFCFB0;
    --second-color: #3a3a1f;
    --light-color: rgba(218, 218, 193, 0.4);
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    border-bottom: 1px solid white;
    margin-bottom: 100px;

    margin-top: 75px;
}

.headingH1 {
    grid-column: 1/span 3;
    grid-row: 2;
    margin-top: 280px;
    padding-bottom: 15px;
}

.headingH1 h1 {
    font-size: 4rem;
}

.container-hrLine {
    grid-column: 6 /span 2;
    grid-row: span 2;
    border-left: 1px solid white;
}

.imgContainerText {
    display: grid;
    grid-template: 1 / repeat(7, 1fr);
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid white;
    margin-top: 100px;
    padding-bottom: 25px;
    gap: 25px;
}

.ictParent {
    display: flex;
    grid-column: 1/span 4;
    flex-direction: column;
    gap: 100px;
    grid-row: auto;
}

.ict {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.table-contaier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1px 0px;
    border: 1px solid white;
}

.cell {
    display: flex;
    flex-direction: column;
    padding: 25px;
    grid-column: span 1;
    text-align: center;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

table {
    border: 1px solid white;
}

.td1 {
    color: grey;
    font-size: 12px;
    align-items: center;
}

.td2 {
    margin-top: 10px;
}

.td3 {
    color: grey;
    font-size: 12px;
    align-items: center;
    width: 110px;
}

.td4 {
    margin-top: 10px;
}

.td5 {
    color: grey;
    font-size: 12px;
    align-items: center;
}

.td6 {
    margin-top: 10px;
    text-decoration: underline;
}

.td7 {
    color: grey;
    font-size: 12px;
    align-items: center;
}

.td8 {
    margin-top: 10px;
}

.imgBarLeft {
    grid-row: 1;
    grid-column: 5/span 3;
}

.imgBar img {
    width: 100%;
    object-fit: cover;
}

.ictParent2 {
    /* grid-row: 1; */
    grid-column: 4/span 4;
}

.imgBarRight {
    grid-column: 1/span 3;
}

/*  new */
.main-role-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid white;
}

.container-hrLine2 {
    border-left: 1px solid white;
}

.role-container {
    grid-column: 1 /span 2;
    line-height: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 80px;
}

.role-container h6 {
    padding-left: 20px;
}

.role-container h3 {
    padding-left: 20px;
    border-bottom: 1px solid white;
    width: 400px;
    padding-bottom: 12px;
}

.miniImg {
    grid-row: 1;
    grid-column: 3 /span 3;
    margin-left: 25px;
    margin-right: 25px;
}

.miniImg img {
    width: 20%;
    padding-top: 80px;
}

.miniImg p {
    padding-bottom: 10px;
}

.view-project {
    grid-column: 6 /span 2;
    margin-top: 25px;
}

.role-line1 {
    grid-row: 1;
    grid-column: 3;
    border-left: 1px solid white;
}

.role-line2 {
    grid-row: 1;
    grid-column: 5;
    border-right: 1px solid white;
}

.view-project img {
    width: 100%;
}

.view-project button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
}

.view-project button:hover {
    color: #3a3a1f;
    background-color: #cfcfb0;
}

.main-role-container-two {
    display: grid;
    grid-template-columns: repeat(6, 3fr);
    padding: 25px;
    border-bottom: 1px solid white;
}

.role-container-two,
h6 {
    padding-left: 20px;
}

.role-container-two h3 {
    padding-left: 20px;
    width: 400px;
    padding-bottom: 12px;
    border-bottom: 1px solid white;
}

.badege {
    width: 199%;
}

.badege img {
    width: 25%;
}

.badege p {
    line-height: 1.3;
}

.main-role-container-three {
    display: grid;
    grid-template-columns: repeat(6, 3fr);
    padding: 25px;
    border-bottom: 1px solid white;
}

.loadBtn {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: 0.5s all ease-in-out;
    margin-bottom: 20px;
}

.loadBtn::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #cfcfb0;
    transition: 0.5s all ease-in-out;
}

.loadBtn:hover::after {
    bottom: 0;
    top: unset;
    height: 100%;
}

.loadBtn:hover {
    color: #3a3a1f;
}



@media (max-width:1024px) {
    .linkBar a {
        padding-right: 70px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .headingH1 {
        grid-column: 1 / span 3;
        grid-row: 2;
        margin-top: 280px;
    }

    .headingH1 h1 {
        font-size: 30px;
        font-weight: 600;
        width: 100%;
    }

    .container-hrLine {
        grid-column: 4 / span 1;
        margin-left: 45px;
    }

    .ictParent2 {
        grid-column: 2;
    }

    .imgContainerText {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 60px;
    }

    .imgContainerText h3,
    .imgContainerText p {
        margin-left: 10px;
        padding-bottom: 50px;
    }

    .imgBar {
        grid-row: 1;
        grid-column: span 4;
    }

    .imgBar img {
        max-width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    /* .imgBarRight {
        /* grid-column: 1/span5; */
    /* grid-row: 1/span3; */
    /* }  */

    table {
        width: 100%;
        margin-left: 10px;
    }
}