.decor__expect {
  /* z-index: 1; */
  border-bottom: solid 1px var(--first-color);
  margin: 0 0 100px;
}

.decor__graph {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 650px;
  gap: 25px;
  margin: 25px;
}

.heading__graph {
  grid-column: 1 / span 2;
}

.heading__graph h1 {
  font-size: 4rem;
  font-weight: normal;
}
.desktopSteps-0-3-1602 {
  order: 1;
  overflow-y: scroll;
  height: 80%;
  scroll-snap-type: x mandatory;
  width: 100%;
  grid-column: 4 / span 3;
}
.desktopSteps-0-3-1602::-webkit-scrollbar {
  display: none;
}

.step-0-3-1603 {
  flex: 0 0 33%;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.5;
  transform: scale(0.9);
  scroll-snap-align: center;
  margin: 5rem 20px;
  padding: 3rem 0;
  border-bottom: solid 1px var(--first-color);
}

.step-0-3-1603.selected {
  opacity: 1;
  transform: scale(1);
}
.container .svgContainer {
  margin-top: 20px;
  grid-column: span 2;
}

.graph-0-3-1599 {
  width: 300px;
  height: 300px;
  stroke-width: 200;
}

.point-0-3-1610 {
  stroke-width: 2;
  fill: var(--second-color);

  transition: 0.5s;
}
.step-0-3-1603 h4 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}
.step-0-3-1603 p {
  line-height: 1.5;
}

.point-0-3-1610.selected {
  fill: var(--first-color);
  stroke-width: 45;
}

.text-0-3-586.selected {
  color: black;
  font-size: 20px;
  text-align: center;
  opacity: 1;
}

@keyframes scrollAnimation {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.title__graph {
  grid-column: 4 / span 2;
  overflow-y: scroll;
  position: relative;
}
