* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-overflow-scrolling: touch;
  font-style: normal;
  color: #333;
}
body::-webkit-scrollbar {
  width: 5px; /* Width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 5rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
nav {
  display: flex;
  justify-content: center;
  padding: 30px;
}
#logo {
  align-items: center;
  cursor: pointer;
}
#logo > img {
  width: 130px;
  height: 60px;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px;
  width: 92%;
  /* margin-left: -1px; */
  /* margin-right: 0px; */
}
#header > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-size: 11px;
  font-weight: 400;
  gap: 50px;
}
#header > a:hover {
  text-decoration: underline;
}
#second-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15rem;
}
#second-header h1 {
  font-size: 55px;
  font-weight: 400;
  padding-left: 30px;
  padding-bottom: 20px;
  letter-spacing: 2px;
}
#sub-text {
  display: flex;
  justify-content: space-around;
  gap: 120px;
  margin-right: 8rem;
  font-size: 10px;
}
#drop-down-container {
  align-items: center;
  padding: 0.5rem;
  padding-left: 1.3rem;
}
select {
  cursor: pointer;
  border: none;
  background: none;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 10px;
  word-spacing: 5px;
  color: rgb(22, 18, 18);
}

#main-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* margin: 50px 0px 0px 50px; */
  /* padding: 10px; */
  margin-top: 5px;
  margin-right: 50px;
  margin-left: 5px;
  /* gap: 35px; */
  text-align: justify;
}
img {
  height: 350px;
  width: 400px;
}
.image-container {
  /* grid-column: 1/2; */
  margin-bottom: 50px;
  text-align: justify;
  /* border: 1px solid #333; */
  padding: 20px;
}
.product-type {
  display: flex;
  text-align: start;
  gap: 16rem;
  margin-top: 8rem;
}
.product-type p {
  font-size: 10px;
  text-transform: capitalize;
}
h3 {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: capitalize;
  text-align: start;
}
.image-container .product-info {
  width: 80%;
  text-align: justify;
  font-size: 15px;
  margin-top: 20px;
  font-weight: 300;
  text-transform: capitalize;
}
#load-more {
  align-items: center;
  text-align: center;
  grid-column: 1/4;
  border-radius: 50px;
  margin: 40px;
  border: 0.2px solid black;
  padding: 20px;
}
/* #footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#decor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px;
  width: 500px;
}

#form-container input {
  border: none;
  outline: none;
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid #333;
}
#form-container p {
  justify-content: start;
  font-size: 10px;
  text-transform: capitalize;
}
#decor-para {
  margin-top: 100%;
  font-size: 10px;
  word-spacing: 5px;
  font-weight: 450;
} */

@media screen and (max-width: 1024px) {
  nav {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  #second-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15rem;
  }
  #second-header h1 {
    font-size: 55px;
    font-weight: 400;
    padding-left: 30px;
    padding-bottom: 20px;
    letter-spacing: 2px;
  }
  #sub-text {
    display: flex;
    justify-content: space-around;
    gap: 120px;
    margin-right: 8rem;
    font-size: 10px;
  }
  #drop-down-container {
    align-items: center;
    padding: 0.5rem;
    padding-left: 1.3rem;
  }
  select {
    cursor: pointer;
    border: none;
    background: none;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 10px;
    word-spacing: 5px;
    color: rgb(22, 18, 18);
  }

  #main-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* margin: 50px 0px 0px 50px; */
    /* padding: 10px; */
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 20px;
    /* gap: 35px; */
    text-align: justify;
  }
  img {
    height: 350px;
    width: 400px;
  }
  .image-container {
    /* grid-column: 1/2; */
    margin-bottom: 50px;
    text-align: justify;
    /* border: 1px solid #333; */
    padding: 20px;
  }

  .product-type {
    display: flex;
    text-align: start;
    gap: 16rem;
    margin-top: 8rem;
  }
  .product-type p {
    font-size: 10px;
    text-transform: capitalize;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: start;
  }
  .image-container .product-info {
    width: 80%;
    text-align: justify;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 300;
    text-transform: capitalize;
  }
  #load-more {
    align-items: center;
    text-align: center;
    grid-column: 1/4;
    border-radius: 50px;
    margin: 40px;
    border: 0.2px solid black;
    padding: 20px;
  }
}
